@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #222222;
  --navbar: #CFD8DC;
  --navbar-light: #9aafb7;
  --accordion: #CFD8DC;
  --accordion-text: #222222;
  --accordion-hover: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
    --navbar: #263238;
    --navbar-light: #374248;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
